@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&family=Fraunces:wght@700;900&display=swap');


:root {
    /* ### Primary */

--clr-Soft-red: hsl(7, 99%, 70%);
--clr-Yellow: hsl(51, 100%, 49%);
--clr-Dark-desaturated-cyan: hsl(167, 40%, 24%);
--clr-Dark-blue: hsl(198, 62%, 26%);
--clr-Dark-moderate-cyan: hsl(168, 34%, 41%);

/* + */

--clr-Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--clr-Very-dark-grayish-blue: hsl(213, 9%, 39%);
--clr-Dark-grayish-blue: hsl(232, 10%, 55%);
--clr-Grayish-blue: hsl(210, 4%, 67%);
--clr-White: hsl(0, 0%, 100%);

}



html{
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Fraunces', serif; */
}
a{
    outline: none;
}
a:active, a:focus { 
    outline: none; 
   }
   
/* navbar */
nav{
    padding: 2rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: var(--clr-White);
}
.nav-brand{
    text-align: center;
}
.nav-brand h1{
    font-weight: 900;
    text-align: center;
}
.nav-links ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links ul li{
    margin: 0 1rem;
}
.btn-contact {
  background-color: var(--clr-White);
  border-radius: 50px;
  border-style: none;
  color: var(--clr-Very-dark-desaturated-blue);
  cursor: pointer;
  display: inline-block;
  font-family: 'Fraunces', serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 150px;
}

.btn-contact:hover {
  color: var(--clr-White);
  background-color:#6ecfff;
}

@media screen and (max-width: 1000px) {
  .btn-contact {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}

.header{
    background-image: url(../images/desktop/image-header.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.heading h1{
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--clr-White);
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.8rem;
}
.heading h2{
    font-size: 3rem;
    color: var(--clr-White);
    font-weight: 900;
    margin-top: 5rem;
}

.split{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.split-0{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.left-side{
    width: 50%;
}
.right-side{
    width: 50%;
}
.image-side img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display:block;
}
.details{
    width: 450px;
    margin: auto;
    text-align: left;
}
.details h2{
    color: var(--clr-Very-dark-desaturated-blue);
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 3rem;
}
.details p{
    margin: 2rem 0;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--clr-Dark-grayish-blue);
}
.details a{
    text-decoration: none;
}
.details a .yellow-underline{
    font-family: 'Fraunces', serif;
    color: var(--clr-Very-dark-desaturated-blue);
    text-transform: uppercase;
    z-index: 1;
    position: relative;

}
.details a .yellow-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: .07em;
    height: .4em;
    width: 100%;
    background-color :var(--clr-Yellow);
    z-index: -1;
    transition: height .25s cubic-bezier(.6,0,.4,1);
}
.details a .yellow-underline:hover::after {
    height: .2em;
  }
  
  .details a .red-underline{
    font-family: 'Fraunces', serif;
    color: var(--clr-Very-dark-desaturated-blue);
    text-transform: uppercase;
    z-index: 1;
    position: relative;

}
.details a .red-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: .07em;
    height: .4em;
    width: 100%;
    background-color :var(--clr-Soft-red);
    z-index: -1;
    transition: height .25s cubic-bezier(.6,0,.4,1);
}
.details a .red-underline:hover::after {
    height: .2em;
  }


.left-side{
    position: relative;
}
.right-side{
    position: relative;
   
}

.details-image{
    position: absolute;
    bottom: 8px;
    top: 75%;
    text-align: center;
    width: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details-image h3{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.5rem;
}
.details-image p{
    padding:1rem 0;
    font-weight: 600;
    line-height: 1.5rem;
}

.testimonials{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonials h2{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    color: var(--clr-Grayish-blue);
    text-align: center;
}
.details-testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.details-testimonials .person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.person .profile{
    padding: 2rem;
}
.person .profile img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
}
.person p{
    text-align: center;
    width: 350px;
    color: var(--clr-Very-dark-grayish-blue);
}
.person .name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.person .name h3{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.2rem;
    color: var(--clr-Very-dark-desaturated-blue);
}
.person .name p{
    padding:1rem 0;
    color: var(--clr-Grayish-blue);
    font-weight: 400;
}
.images-lineup{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.images-lineup img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display:block;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #90d4c5;
    color: var(--clr-Dark-desaturated-cyan);
}
.footer h3{
    font-weight: 900;
    font-size: 1.8rem;
    margin-top: 2rem;
}
.footer .footer-links{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;

}
.footer .footer-links li{
    margin: 0 2rem;
}
.footer .footer-links li a{
    text-decoration: none;
    color: var(--clr-Dark-desaturated-cyan);
    transition: all .3s cubic-bezier(.05, .03, .35, 1);
}
.footer .footer-links li a:hover{
    color: var(--clr-White);
}
.footer .social-links{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .social-links li{
    margin: 0 1rem;
    margin-bottom: 3rem;
}
.footer .social-links li a{
    color: var(--clr-Dark-desaturated-cyan);
    text-decoration: none;
    transition: all .3s cubic-bezier(.05, .03, .35, 1);

}
.footer .social-links li a:hover{
    color: var(--clr-White);

}
.toggle-menu{
    display: none;
}
.mobile-menu{
    position: absolute;
    top: 30%;
    left: 50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-Dark-desaturated-cyan);
    background-color: var(--clr-White);
    z-index: 1111;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 85%;
    border-top: 30px solid #3ebfff;
    border-right: 30px solid transparent;
    
}


.mobile-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.mobile-menu ul li{
    margin: 1rem 0;
}
.btn-menu-contact {
    background-color: var(--clr-Yellow);
    border-radius: 50px;
    border-style: none;
    color: var(--clr-Very-dark-desaturated-blue);
    cursor: pointer;
    display: inline-block;
    font-family: 'Fraunces', serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    height: 60px;
    line-height: 60px;
    margin-left: -4px;
    outline: 0;
    text-align: center;
    transition: all .3s cubic-bezier(.05, .03, .35, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: bottom;
    width: 150px;
  }
  
  .btn-menu-contact:hover {
    color: var(--clr-White);
    background-color:var(--clr-White);
  }
  
  @media screen and (max-width: 1000px) {
    .btn-menu-contact {
      font-size: 14px;
      height: 55px;
      line-height: 55px;
      width: 150px;
    }
  }
@media (max-width:1275px){
    .testimonials{
        margin: 3rem 0;
    }
    .details-testimonials{
        grid-template-columns:1fr;
    }
    .details-testimonials .person{
    padding: 0rem;
    }
    .split{
        flex-direction: column;
    }
    .split-0{
        flex-direction: column-reverse;
    }
    .left-side{
        width: 100%;
    }
    .right-side{
        width: 100%;
    }
    .details{
        text-align: center;
        width: 100%;
        padding: 2rem 1rem;
    }
    .images-lineup{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:786px){
    .nav-links {
        display: none;
    }
    .toggle-menu{
        display: flex;
    }
    .heading h1{
        font-size: 2rem;
        color: var(--clr-White);
        font-weight: 900;
        text-align: center;
        letter-spacing: 0.8rem;
    }
    .footer .footer-links{
        padding: 0rem;
    
    }
    .footer .footer-links li{
        margin: 1rem 1.5rem;
    }
    .details-image{
        width: 360px;
    }
    .image-side img{
        width: 100%;
        max-width: 100%;
        height: 500px;
        display:block;
    }
    .person .name{
        padding: 2rem 0;
    }
    
}
@media (min-width:786px){
   
    .mobile-menu{
        display: none!important;
    }
    
}

.attribution {
    font-size: 1rem;
    text-align: center;
    margin: 2rem 0;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }